<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carsever.dao.UsersDao">

    <resultMap id="rolesResult" type="roles">
        <id     property="orgId"    column="org_id"     />
        <result property="orgName"  column="org_name"   />
    </resultMap>

    <resultMap type="User_role" id="UserVoList">
        <id     property="userId"       column="user_id"      />
        <result property="userName"     column="user_name"    />
        <result property="userAge" 	    column="user_age"    />
        <association property="organization"  javaType="organization" resultMap="organizationResult" />
    </resultMap>




    <select id="selectUserVoList" resultMap="UserVoList">
        SELECT u.user_id,
               u.user_name,
               u.user_age,
               o.org_id,
               o.org_name
        FROM user u
                 LEFT JOIN organization o
        WHERE u.user_org_id = o.org_id
    </select>
